@import "reset";
@import "variables";
@import "mixins";
body {
  font-family: map-get($fonts, main);
}

// Offcanvas Navbar
.navbar {
  background: #334d66 !important;

  border-bottom: 3px solid #e3f2fd;
}

.offcanvas-body {
  background: #334d66;
  .nav-item {
    a {
      font-size: 1.5rem;
      color: white !important;
    }
    &:hover {
      @include hover1;
    }
  }
}
// banner

.banner {
  img {
    height: 600px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 10px 20px #334d66, -10px 0px 20px #334d66;
  }
  .card-img-overlay {
    .card-title {
      @include boldIt;
      font-size: 3.5rem;
      &:nth-of-type(1) {
        color: #e3f2fd;
        @include enterAnimation;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    height: 100vh;
    img {
      height: 100%;
    }
  }
}

.fa-angle-double-down {
  margin-top: 20px;
  padding-top: 50px;
  color: #e3f2fd;
  @include upanddown;
  color: #e3f2fd;
}

// about section
.aboutme {
  background: #334d66;

  color: white;

  .personal-data {
    h1::after {
      @include underline($width: 15%);
    }

    @include borderIt($clr: #e09224);
    background: map-get($colors, aboutme);
    .card-body {
      @include centerIt($dir: column);
      h5 {
        color: #e09224;
      }
      .btn {
        width: 150px;
        @include centerIt;
        @include boldIt;
        &:hover {
          background: #e09224;
          color: white;
        }
      }
    }
  }

  .skills {
    @include borderIt($clr: #e09224);
    h2 {
      @include boldIt;
      &::after {
        @include underline($width: 50px);
      }
    }
    &-item {
      @include boldIt;
      font-size: 1.5rem;
      padding: 10px;
    }
    .progress {
      margin: 10px 0;
      height: 20px;
      font-size: 1.2rem;

      .progress-bar {
        padding-right: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        @include centerIt($justify: flex-end);
        @include animation-progress;
        background: #e09224;
      }
    }
    @media screen and (min-width: 1200px) {
      height: 95%;
      h2 {
        transform: translateY(-60px);
      }
      @include centerIt($dir: column, $justify: space-around);
      .skills-container {
        height: 70%;
        width: 100%;
        @include centerIt($justify: center);
        .skills-item {
          @include centerIt($dir: column);
          margin: 0 10px;
          .progress {
            @include centerIt($align: flex-end);
            height: 60vh;
            .bar1 {
              width: 100% !important;
              height: 80%;
            }
            .bar2 {
              @extend .bar1;
              height: 95%;
            }
            .bar3 {
              @extend .bar1;
              height: 88%;
            }
            .bar4 {
              @extend .bar1;
              height: 86%;
            }
            .progress-bar {
              padding-left: 5px;
              padding-top: 10px;
              @include progressvertical;
              @include centerIt($justify: flex-start, $dir: column);
            }
          }
        }
      }
    }
  }
}

//    services
.services-container {
  background: map-get($colors, services);
  color: white;
  .services-header {
    h1::after {
      @include underline($color: #334d66, $width: 30%);
    }
  }
}
.services-item {
  @include borderIt($clr: #334d66);
  @include centerIt($dir: column, $justify: space-between);
  .services {
    &:hover i {
      @include spinIt;
    }
    font-size: 1.3rem;
    @include centerIt($justify: space-evenly);

    .fa-star,
    .fas {
      font-size: 2.5rem;
      margin-right: 20px;
      margin-bottom: 15px;
      transition: transform 0.6s linear;
      color: map-get($colors, aboutme);
    }
  }
}
// latest works
.works-container {
  background: #334d66;
  h2::after {
    @include underline($color: #e09224, $width: 20%);
  }
}
.work1 {
  background: url(./images/project-photos/project-photo1.jpg) no-repeat center
    center / cover;
  height: 300px;
}

.work1 {
  margin: 20px 0;

  &:hover i {
    display: block;
    @include overlayenter;
  }
  &:hover .work-name {
    @include work-name-enter;
    display: block;
  }
  &:hover {
    @include background;
  }

  i {
    @include textoverlay;
    display: none;
    &:hover {
      text-shadow: 2px 2px 10px white, -1px -1px 10px white;
      cursor: pointer;
    }
  }
  .work-name {
    background: white;
    padding: 5px;
    height: 30px;
    text-align: center;
    @include work-name-overlay;
    display: none;
  }
}

.work2 {
  background: url(./images/project-photos/project-photo2.jpg) no-repeat center
    center / cover;
  height: 300px;
  @extend .work1;
  &:hover {
    @include background($url: "./images/project-photos/project-photo2.jpg");
  }
}
.work3 {
  background: url(./images/project-photos/project-photo3.jpg) no-repeat center
    center / cover;
  height: 300px;
  @extend .work2;
  &:hover {
    @include background($url: "./images/project-photos/project-photo3.jpg");
  }
}
.work4 {
  background: url(./images/project-photos/project-photo4.jpg) no-repeat center
    center / cover;
  height: 300px;
  @extend .work3;
  &:hover {
    @include background($url: "./images/project-photos/project-photo4.jpg");
  }
}

// clients section
.clients {
  background: lightgray;
  h1 {
    color: #e09224;

    &::after {
      @include underline($width: 20%, $color: #334d66);
    }
  }
}
.carousel-inner {
  color: black;
  width: 100%;
  height: 400px;
  background: lightgray;
  .carousel-item {
    width: 100%;
    height: 100%;
    .carousel-caption {
      color: #334d66;
    }
  }
  img {
    width: 150px;
    height: 150px;
  }
}

// contact section

.contact-container {
  background: #334d66;

  h1::after {
    @include underline($width: 15%);
  }
}
.contact-form {
  font-size: 1.2rem;
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding-left: 10px;
    border-radius: 10px;
    outline: 0px;
    border: 2px solid #334d66;
    &:focus {
      border-color: #e09224;
    }
  }

  input,
  label {
    margin: 5px 0px;
    display: block;
    @include boldIt;
    color: #e09224;
  }
  input[type="submit"]:hover {
    color: white;
    background: #e09224;
  }
}
.contact-info {
  color: white;
  @include centerIt($dir: column);
  h3::after {
    @include underline($width: 20%);
  }
  p {
    display: inline-block;
  }
  i {
    margin-right: 10px;
    font-size: 1.5rem;
    vertical-align: middle;
  }
  div {
    width: 80%;
    @include centerIt($justify: space-evenly);
    align-items: stretch;
    margin: 10px 0px;
    &:hover i {
      text-shadow: 2px 2px 10px white, -1px -1px 10px white;
    }

    p {
      width: 70%;
      font-size: 1.3rem;
    }
  }
}

// footer
footer {
  background: lightgray;
  height: 90px;
  @include centerIt($dir: column, $justify: space-between);
  @include boldIt;
  div {
    i {
      margin: 0px 10px;
      font-size: 2rem;
      transition: transform 1s linear;
    }
    .fa-linkedin:hover,
    .fa-twitter:hover {
      transform: scale(1.3);
      color: blue;
      text-shadow: 2px 2px 10px white, -1px -1px 10px white;
    }
    .fa-github:hover,
    .fa-facebook-f:hover {
      transform: scale(1.2);
      color: #e09224;
      text-shadow: 2px 2px 10px white, -1px -1px 10px white;
    }
  }
}

// top button

.top-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(8, 8, 8, 0.5);
  color: white;

  position: fixed;
  bottom: 1%;
  right: 1%;
  transition: transform 0.5s linear;
  &:hover {
    transform: rotate(360deg);
  }
  a {
    color: white;
    text-decoration: none;
    @include centerIt($dir: column);

    i {
      margin-top: 5px;
      font-size: 1.3rem;
    }
    p {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}
